$grey: lighten(black, 90%);


* {
    margin: 0;
    font-family: sans-serif;
}

header {


    nav {
        max-width: 1920px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

        ul {
            display: flex;
            padding: 0;

            &:last-of-type {

                a {
                    padding: 2rem 1rem;
                }
            }
        }

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
            padding: 2rem 3.5rem;
            display: block;
            color: lighten(black, 50%);
            font-weight: bolder;

            &.active {
                color: black;
            }

            &:hover {
                text-decoration: underline;
            }

        }
    }

    img.background {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
    }
}

.articleContainer {

    max-width: 1150px;
    margin: auto;
    margin-bottom: 4rem;
    padding-left: 2rem;
    box-sizing: border-box;


    article {
        display: grid;
        grid-template-areas: 
        'illustration titreEtDate'
        'illustration contenu';
        max-width: 1000px;
        margin: 3rem auto 0 auto;
       

       

        img {
            width: 300px;
            grid-area: illustration;
            
        }



        div {
            margin-left: 2rem;
            grid-area: titreEtDate;
        }


        p.content {
            margin-left: 2rem;
            /* line-height: 30px; */
            grid-area: contenu;
            height: 50px;
            

            &:first-of-type {
                color: lighten(black, 50%);
            }

        }
      

    }

}

main {
    display: flex;
    justify-content: space-between;


    aside {
        background-color: $grey;
        width: 350px;

        section {
            padding: 2rem 2rem;
        }

        ul {
            padding: 0;
        }

        li {
            list-style: none;

        }

        a {
            padding: 1.5rem;
            display: block;
            color: lighten(#000000, 50%);
            text-decoration: none;
        }

    }

}


footer {

    border-top: 2px solid $grey;

    p {
        padding: 2rem 0;
        text-align: center;
    }
}


/* 1400px et - */

@media screen and (max-width:1400px) {

    .articleContainer{
        padding-left: 0;
    }

    main {
        display: flex;
        flex-direction: column;

        aside {
            width: 100%;
            padding-left: 0;

            div {
                padding-left: 2rem;
                max-width: 1150px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
            }

        }
    }

}

@media screen and (max-width:1024px) {
    header{


        nav{
            flex-direction: column;
            justify-content: center;
    
           ul{
            justify-content: center;
            
           }
    
           a{
            padding: 2rem;
           }
        }
    }
        

    
}


@media screen and (max-width:768px) {
    .articleContainer{

        article{
           display: flex;
           flex-direction: column;
         /*   margin-bottom: 20px; */
           
           
           div{
            order: 1;
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            margin-left: 0;
            align-items: flex-end;
           /*  justify-content: space-between; */

           }

           img{
            order: 2;
            margin: 2rem auto;
            width: 100%;
            height: 150px;
            object-fit: cover;
            object-position: center;


           }

           p.content{
            order: 3;
            margin-left: left  ;
            /* line-height: 20px; */
           }
        }
    }

        aside{
            
            div{
            display: flex;
            flex-direction: column;
            text-align: center;
            }
        
        
        }

}  